In [1]:
from __future__ import print_function, division

import nsfg3

In [2]:
df = nsfg3.ReadFemResp2002()

In [3]:
sum(df.evrmarry)

4126

In [5]:
len(df[(df.cmbirth >= 301) & (df.cmbirth <= 1164)])

7643

In [6]:
len(df[(df.cmmarrhx >= 301) & (df.cmmarrhx <= 1164)])

2928

In [7]:
len(df[(df.cmmarrhx.isnull())])

3554

In [8]:
df.cmintvw.value_counts().sort_index()

1225      1
1227    155
1228    625
1229    531
1230    478
1231    888
1232    824
1233    918
1234    954
1235    778
1236    449
1237    545
1238    455
1239     42
Name: cmintvw, dtype: int64

In [9]:
df.finalwgt.value_counts().sort_index()

118.656790       1
149.179094       1
260.900498       1
267.935135       1
374.737005       1
398.852225       1
411.453026       1
579.500779       1
604.847445       1
610.200501       1
610.638556       1
649.341376       1
727.850012       1
804.935269       1
807.567661       1
944.952181       1
970.180387       1
977.586647       1
1067.636070      1
1093.033956      1
1102.001039      1
1112.184547      1
1131.645848      1
1143.983665      1
1158.805974      1
1238.519553      1
1264.292128      1
1340.710511      1
1354.303784      1
1366.499601      1
                ..
50541.818273     1
51702.824860     1
51840.354621     1
52849.068802     1
52882.262360     1
52885.250453     1
53159.806737     1
54130.405297     1
54733.175009     1
56717.972209     1
57623.969745     1
58712.920736     1
59616.730305     1
59955.527127     1
60473.286527     1
60541.339661     1
61959.225611     1
63141.591804     1
63633.129525     1
64180.462924     1
65152.308279     1
65502.800561     1
68375.710204     1
76356.689648     1
76712.967321     1
78196.162962     1
82311.946129     1
89086.582781     1
101214.074562    1
261879.953864    1
Name: finalwgt, dtype: int64